<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>我的笔记</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-pjax-version" content="v173">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/favico-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/favico-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/favico-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="ico/favico-57-precomposed.png">
    <link rel="shortcut icon" href="ico/favico.png">
    <link rel="shortcut icon" href="ico/favicon.ico">
    <link rel="stylesheet" href="styles/icon.css"/>
    <link rel="stylesheet" href="styles/main.css"/>
    <!-- Google-Code代码高亮CSS -->
    <link rel="stylesheet" href="styles/prettify.css"/>
    <!-- Ueditor编辑器CSS -->
    <link href="styles/umeditor.min.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="scripts/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="scripts/basevalue.js"></script>
    <script type="text/javascript" src="scripts/cookie_util.js"></script>
    <script type="text/javascript" src="scripts/book.js"></script>
    <script type="text/javascript" src="scripts/note.js"></script>
    <script type="text/javascript" src="scripts/alert.js"></script>
    <script type="text/javascript" src="scripts/share.js"></script>
    <script type="text/javascript" src="scripts/recycle.js"></script>
    <script type="text/javascript">
//        $(function () {
//            //加载用户笔记本列表
//            loadUserBooks();//发送ajax请求，异步请求，直接向下继续执行，下面的如果要使用回调函数结果的元素
//                            //则无法调用到，解决方法1可以改变异步到同步
//                            //方法2 给未来元素绑定：on("click","li",function(){})  父元素.on("事件类型","子元素",fun处理)
//            //点击笔记本li加载笔记本列表(动态绑定)
//            $("#book_ul").on("click", "li", loadBookNotes);
//            //双击笔记本名 弹出改名框
//            $("#book_ul").on("dblclick", "li", alertRenameBookNameWindow);
//            //单击确定改名
//            $("#can").on("click", "#sureRename", renameBookName);
//            //点击笔记li加载笔记信息
//            $("#note_ul").on("click", "li", loadNote);
//            //点击‘保存笔记’ 修改笔记内容
//            $("#save_note").click(updateNote);
//            //点击 + 弹出添加笔记本对话框
//            $("#add_notebook").click(alertAddBookWindow);
//            //关闭对话框
//            $("#can").on("click", ".cancle,.close", closeAlertWindow);
//            //给对话框中‘创建’笔记本按钮绑定单击
//            $("#can").on("click", "#sure_addbook", sureAddBook);
//            //点击 + 弹出添加笔记对话框
//            $("#add_note").click(alertAddNoteWindow);
//            //给对话框中 创建 笔记按钮绑定单击
//            $("#can").on("click", "#sure_addnote", sureAddNote);
//            //显示笔记菜单
//            showNoteMenu();
//            //笔记删除对话框
//            $("#note_ul").on("click", ".btn_delete", alertDeleteNoteWindow);
//            //笔记删除
//            $("#can").on("click", "#sureDeleteNote", sureDeleteNote);
//            //笔记转移 加载多选框
//            $("#note_ul").on("click", ".btn_move", alertMoveNoteWindow);
//            //笔记转移 执行转移
//            $("#can").on("click", "#sureMove", sureMoveNote);
//
//            //点击垃圾桶 切换到垃圾桶页面，加载回收站笔记
//            $("#rollback_button").click(clickRecycle);
//            //点击回收站里的笔记li
//            $("#recyclenote_ul").on("click", "li", clickRecycleLi);
//            //点击笔记的删除按钮弹出删除页面
//            $("#recyclenote_ul").on("click", ".btn_delete", function () {
//                $("#can").load("alert/alert_delete_rollback.html");
//                $(".opacity_bg").show();
//            });
//            //点击删除弹出页面的确认
//            $("#can").on("click", "#sureFinalDelete", sureDeleteRecycleNotes);
//            //点击笔记的还原按钮弹出还原页面
//            $("#recyclenote_ul").on("click", ".btn_replay", clickReplayRecycleNote);
//            //点击还原弹出页面的确认
//            $("#can").on("click", "#sureReplay", sureReplayRecycleNote);
//
//            //笔记分享 分享按钮单击
//            $("#note_ul").on("click", ".btn_share", sureShareNote);
//
//            //分享笔记搜索里面输入 和 实现分页显示功能
//            var page = 1;//全局变量
//            //按回车，搜索分享笔记
//            $("#search_note").keydown(sureSearchShare);
//            //按"更多"按钮,加载下一页搜索记录
//            $("#more_note").click(moreSearchShare);
//
//            //点击分享的笔记li加载内容到预览笔记
//            $("#search_ul").on("click", "li", function () {
//                var shareId = $(this).data("shareId");
//                //alert(shareId);
//                $("#search_ul a").removeClass("checked");
//                $(this).find("a").addClass("checked");
//                $.ajax({
//                    url: path + "/share/loadnote",
//                    type: "post",
//                    data: {"shareId": shareId},
//                    dataType: "json",
//                    success: function (result) {
//                        if (result.statusCode == 0) {
//                            var note = result.body;
//                            var body = note.cnShareBody;
//                            var title = note.cnShareTitle;
//                            $("#noput_note_title").html(title);
//                            $("#noput_note_body").html(body);
//                            //um.setContent(body);//设置笔记内容，um是Ueditor编辑器的实例
//                        }
//                    },
//                    error: function () {
//                        alert("加载笔记内容失败");
//                    }
//                });
//            });
//
//            // 点击收藏弹出收藏弹框
//            $("#search_ul").on("click", ".btn_slide_down", function () {
//                    $("#can").load("alert/alert_like.html");//封装了ajax，专门用来执行内容的载入
//                    //显示对话框灰色背景
//                    $(".opacity_bg").show();
//                }
//            );
//
//            // 点击收藏弹框的确认
//            $("#can").on("click", "#sureStore", function () {
//                var shareId = $("#search_ul a.checked").parent().data("shareId");
//                //alert(shareId);
//                $.ajax({
//                    url: path + "/note/addStore",
//                    type: "post",
//                    data: {"shareId": shareId},
//                    dateType: "json",
//                    success: function (result) {
//                        closeAlertWindow();
//                        alert(result.message);
//                    },
//                    error: function () {
//                        alert("收藏笔记失败");
//                    }
//                });
//            });
//            // 点击收藏 五角星 按钮
//            $("#like_button").click(function () {
//                $("#pc_part_7").show();
//                $("#pc_part_3").show();
//                $("#pc_part_5").hide();
//                $("#pc_part_6").hide();
//                $("#pc_part_4").hide();
//                $("#pc_part_2").hide();
//                $("#pc_part_8").hide();
//                var userId = getCookie("userId");
//                //alert(userId);
//                if (userId == null) {
//                    window.location.href("log_in.html");
//                } else {
//                    $.ajax({
//                        url: path + "/note/loadStoreNotes",
//                        type: "post",
//                        data: {"userId": userId},
//                        dataType: "json",
//                        success: function (result) {
//                            $("#store_ul").empty();
//                            var notes = result.body;
//                            //alert(notes[0].cn_note_id);
//                            for (var i = 0; i < notes.length; i++) {
//                                var noteTitle = notes[i].cnNoteTitle;
//                                var noteId = notes[i].cnNoteId;
//                                var bookId = notes[i].cnUserId;
//                                // alert(noteTitle+","+bookId+","+noteId);
//                                var sli = "";
//                                sli += '<li class="idle">'
//                                sli += '	 <a >'
//                                sli += '   	 	<i class="fa fa-file-text-o" title="online" rel="tooltip-bottom">';
//                                sli += '		</i> ' + noteTitle;
//                                sli += '		<button type="button" class="btn btn-default btn-xs btn_position btn_delete"><i class="fa fa-times"></i>';
//                                sli += '		</button>';
//                                sli += '	</a>';
//                                sli += '</li>';
//                                var li = $(sli);
//                                $(li).data("noteId", noteId);
//                                $(li).data("bookId", bookId);
//                                //alert("+")
//                                $("#store_ul").append(li);
//                            }
//                        },
//                        error: function () {
//                            alert("载入收藏列表失败");
//                        }
//                    });
//                }
//            });
//        });
    </script>
</head>
<body class="animated fadeIn">

<header class="header">
    <div class="header-brand">
        <a data-pjax=".content-body" href="edit.html">
            <img class="brand-logo" src="images/dummy/8986f28e.stilearn-logo.png" alt="Stilearn Admin Sample Logo">
        </a>
    </div>
    <div class="header-profile">
        <div class="profile-nav">
            <span class="profile-username"></span>
            <a class="dropdown-toggle" data-toggle="dropdown">
                <span class="fa fa-angle-down"></span>
            </a>
            <ul class="dropdown-menu animated flipInX pull-right" role="menu">
                <li><a href="Change_password.html"><i class="fa fa-user"></i> 修改密码</a></li>
                <li class="divider"></li>
                <li><a id="logout" href="#"><i class="fa fa-sign-out"></i> 退出登录</a></li>
            </ul>
        </div>
    </div>
    <form class="form-inline" onsubmit="return false;">
        <button type="button" class="btn btn-default btn-expand-search"><i class="fa fa-search"></i></button>
        <div class="toggle-search">
            <span id="search_span" style="color:red"></span>
            <input type="text" class="form-control" placeholder="搜索笔记" id='search_note'>
            <button type="button" class="btn btn-default btn-collapse-search"><i class="fa fa-times"></i></button>
        </div>
    </form>
    <ul class="hidden-xs header-menu pull-right">
        <li>
            <a href="activity.html" target='_blank' title="笔记活动">活动</a>
        </li>
    </ul>
</header>

<div class="row" style='padding:0;' id='center'>
    <!-- alert_background-->
    <div class="opacity_bg" style='display:none'></div>
    <!-- alert_notebook -->
    <div id="can"></div>
    <div class="col-xs-2" style='padding:0;' id='pc_part_1'>
        <!-- side-right -->
        <div class="pc_top_first">
            <h3>全部笔记本</h3>
            <button type="button" class="btn btn-default btn-xs btn_plus" id='add_notebook'>
                <i class="fa fa-plus"></i>
            </button>
        </div>
        <aside class="side-right" id='first_side_right'>
            <div class="module" data-toggle="niceScroll">
                <div class="chat-contact">
                    <div class="contact-body">
                        <ul id="book_ul" class="contacts-list">
                            <!--
                            <li class="online" id="c1">
                             <a>
                              <i class="fa fa-book" title="online" rel="tooltip-bottom">
                              </i> 默认笔记本
                             </a>
                            </li>  -->
                        </ul>
                    </div>
                </div>
            </div>
        </aside>
        <div class="row clear_margin">
            <div class="col-xs-4 click" id='rollback_button' title='回收站'>
                <i class='fa fa-trash-o' style='font-size:20px;line-height:31px;'></i>
            </div>
            <div class="col-xs-4 click" id='like_button' title='收藏笔记本'>
                <i class='fa fa-star' style='font-size:20px;line-height:31px;'></i>
            </div>
            <div class="col-xs-4 click" id='action_button' title='参加活动笔记'>
                <i class='fa fa-users' style='font-size:20px;line-height:30px;'></i>
            </div>
        </div>
    </div>
    <!-- 全部笔记本 -->
    <!-- 全部笔记 -->
    <div class="col-xs-3" style='padding:0;' id='pc_part_2'>
        <div class="pc_top_second" id='notebookId'>
            <h3>全部笔记</h3>
            <button type="button" class="btn btn-default btn-xs btn_plus" id='add_note'><i class="fa fa-plus"></i>
            </button>
        </div>
        <aside class="side-right" id='second_side_right'>
            <div class="module" data-toggle="niceScroll">
                <div class="chat-contact">
                    <div class="contact-body">
                        <ul id="note_ul" class="contacts-list">
                            <!--
                            <li class="online">
                                <a  class='checked'>
                                    <i class="fa fa-file-text-o" title="online" rel="tooltip-bottom"></i> 使用Java操作符<button type="button" class="btn btn-default btn-xs btn_position btn_slide_down"><i class="fa fa-chevron-down"></i></button>
                                </a>
                                <div class="note_menu" tabindex='-1'>
                                    <dl>
                                        <dt><button type="button" class="btn btn-default btn-xs btn_move" title='移动至...'><i class="fa fa-random"></i></button></dt>
                                        <dt><button type="button" class="btn btn-default btn-xs btn_share" title='分享'><i class="fa fa-sitemap"></i></button></dt>
                                        <dt><button type="button" class="btn btn-default btn-xs btn_delete" title='删除'><i class="fa fa-times"></i></button></dt>
                                    </dl>
                                </div>
                            </li> -->
                        </ul>
                    </div>
                </div>
            </div>
        </aside>
    </div>
    <!-- 全部笔记 -->
    <!-- 回收站笔记 -->
    <div class="col-xs-3" style='padding:0;display:none;' id='pc_part_4'>
        <div class="pc_top_second">
            <h3>回收站笔记</h3>
        </div>
        <aside class="side-right" id='four_side_right'>
            <div class="module" data-toggle="niceScroll">
                <div class="chat-contact">
                    <div class="contact-body">
                        <ul class="contacts-list" id="recyclenote_ul">
                            <!--
                            <li class="disable">
                                <a >
                                    <i class="fa fa-file-text-o" title="online" rel="tooltip-bottom">
                                    </i> 虚假回收站笔记
                                    <button type="button" class="btn btn-default btn-xs btn_position btn_delete"><i class="fa fa-times"></i>
                                    </button>
                                    <button type="button" class="btn btn-default btn-xs btn_position_2 btn_replay"><i class="fa fa-reply"></i>
                                    </button>
                                </a>
                            </li>
                             -->
                        </ul>
                    </div>
                </div>
            </div>
        </aside>
    </div>
    <!-- 回收站笔记 -->
    <!-- 搜索笔记列表 -->
    <div class="col-xs-3" style='padding:0;display:none;' id='pc_part_6'>
        <div class="pc_top_second">
            <h3>搜索结果</h3>
        </div>
        <aside class="side-right" id='sixth_side_right'>
            <div class="module" data-toggle="niceScroll">
                <div class="chat-contact">
                    <div class="contact-body">
                        <ul id="search_ul" class="contacts-list">
                        </ul>
                    </div>
                </div>
                <div id='more_note'>更多...</div>
            </div>
        </aside>
    </div>
    <!-- 搜索笔记列表 -->
    <!-- 收藏笔记列表 -->
    <div class="col-xs-3" style='padding:0;display:none;' id='pc_part_7'>
        <div class="pc_top_second">
            <h3>已收藏笔记</h3>
        </div>
        <aside class="side-right" id='seventh_side_right'>
            <div class="module" data-toggle="niceScroll">
                <div class="chat-contact">
                    <div class="contact-body">
                        <ul id="store_ul" class="contacts-list">
                            <!--li class="idle"><a ><i class="fa fa-file-text-o" title="online" rel="tooltip-bottom"></i> switch多分支结构<button type="button" class="btn btn-default btn-xs btn_position btn_delete"><i class="fa fa-times"></i></button></a></li-->
                        </ul>
                    </div>
                </div>
            </div>
        </aside>
    </div>
    <!-- 收藏笔记列表 -->
    <!-- 参加活动的笔记列表 -->
    <div class="col-xs-3" style='padding:0;display:none;' id='pc_part_8'>
        <div class="pc_top_second">
            <h3>参加活动的笔记</h3>
        </div>
        <aside class="side-right" id='eighth_side_right'>
            <div class="module" data-toggle="niceScroll">
                <div class="chat-contact">
                    <div class="contact-body">
                        <ul class="contacts-list">
                            <!--li class="offline"><a ><i class="fa fa-file-text-o" title="online" rel="tooltip-bottom"></i> 样式用例（点击无效）</a></li-->
                        </ul>
                    </div>
                </div>
            </div>
        </aside>
    </div>
    <!-- 参加活动的笔记列表 -->
    <!-- 编辑笔记 -->
    <div class="col-sm-7" id='pc_part_3'>
        <!-- side-right -->
        <div class="pc_top_third">
            <div class="row">
                <div class="col-xs-9">
                    <h3>编辑笔记</h3>
                </div>
                <div class="col-xs-3">
                    <button type="button" class="btn btn-block btn-sm btn-primary" id='save_note'>保存笔记</button>
                </div>
            </div>
        </div>
        <aside class="side-right" id='third_side_right'>
            <div class="module" data-toggle="niceScroll">
                <div class="chat-contact">
                    <div class="contact-body clear_margin">
                        <!--- 笔记标题 --->
                        <div class="row">
                            <div class="col-xs-8">
                                <input type="text" class="form-control" id="input_note_title" placeholder='笔记标题...'>
                            </div>
                        </div>
                        <!--- 笔记标题 --->
                        <div class="row">
                            <div class="col-sm-12">
                                <!-- 输入框 -->
                                <script type="text/plain" id="myEditor" style="width:100%;height:400px;"></script>
                                <!-- 输入框 -->
                                </div>
                                </div>
                                < / div >
                                < / div >
                                < / div >
                                < / aside >
                                < / div >
                                <!-- 编辑笔记 -->
                                <!-- 预览笔记 -->
                                < div
                                class
                                = "col-sm-7"
                                id = 'pc_part_5'
                                style = 'display:none;' >
                                    < div
                                class
                                = "pc_top_third" >
                                    < div
                                class
                                = "row" >
                                    < div
                                class
                                = "col-xs-9" >
                                    < h3 > 预览笔记 < / h3 >
                                    < / div >
                                    < / div >
                                    < / div >
                                    < aside
                                class
                                = "side-right"
                                id = 'fifth_side_right' >
                                    < div
                                class
                                = "module"
                                data - toggle = "niceScroll" >
                                    < div
                                class
                                = "chat-contact" >
                                    < div
                                class
                                = "contact-body clear_margin" >
                                    < h4
                                id = "noput_note_title" > AA < / h4 >
                                    < p
                                id = "noput_note_body" > AAAA
                                    < / p >
                                    < / div >
                                    < / div >
                                    < / div >
                                    < / aside >
                                    < / div >
                                    <!-- 预览笔记 -->
                                    < / div >
                                    <footer>
                                    <p> & copy;2014Stilearning </p>
                                <div style = 'position:absolute;top:5PX;height:30px;right:20px;line-height:26px;border:1px solid #0E7D76;display:none;background:#fff' >
                                    <strong style = 'color:#0E7D76;margin:0 10px;'> </strong>
                                    </div>
                                    </footer>
                                    <script type = "text/javascript" >
                                    //加载DOM之后处理页面高度
                                    function get_dom(e) {
                                        return document.getElementById(e);
                                    }
                                function set_height() {
                                    var pc_height = window.innerHeight;
                                    pc_height = pc_height - 132;
                                    get_dom('first_side_right').style.height = (pc_height - 31) + 'px';
                                    get_dom('second_side_right').style.height = pc_height + 'px';
                                    get_dom('four_side_right').style.height = pc_height + 'px';
                                    get_dom('sixth_side_right').style.height = pc_height + 'px';
                                    get_dom('seventh_side_right').style.height = pc_height + 'px';
                                    get_dom('eighth_side_right').style.height = pc_height + 'px';
                                    get_dom('third_side_right').style.height = (pc_height - 15) + 'px';
                                    get_dom('fifth_side_right').style.height = (pc_height - 15) + 'px';
                                }
                                function myEditorWidth() {
                                    var dom = get_dom('third_side_right');
                                    var style = dom.currentStyle || window.getComputedStyle(dom, null);
                                    get_dom('myEditor').style.width = style.width;
                                }
                                set_height();
                                //改变窗口大小时调整页面尺寸
                                window.onresize = function () {
                                    set_height();
                                    var width = $('#third_side_right').width() - 35;
                                    $('.edui-container,.edui-editor-body').width(width);
                                    $('#myEditor').width(width - 20);
                                };
                                </script>
                                <script type="text/javascript" src="scripts/jquery/jquery.min.js"></script>

                                <!-- Bootstrap框架JS -->
                                <script src="scripts/bootstrap.min.js"></script>
                                <script src="scripts/js-prototype.js"></script>
                                <script src="scripts/theme-setup.js"></script>
                                <!-- Google-Code代码高亮JS -->
                                <script class="re-execute" src="scripts/run_prettify.js"></script>
                                <!-- Ueditor编辑器JS -->
                                <script type="text/javascript" charset="utf-8" src="scripts/ue/umeditor.config.js"></script>
                                <script type="text/javascript" charset="utf-8" src="scripts/ue/umeditor.min.js"></script>
                                <script type="text/javascript" src="scripts/ue/lang/zh-cn.js"></script>

                                <script type="text/javascript">
                                    //重写JS原生alert函数
                                    window.alert = function (e) {
                                        $('#can').load('./alert/alert_error.html', function () {
                                            $('#error_info').text(' ' + e);//此方法主要是来调用html页面中的元素进行操作
                                            $('.opacity_bg').show();     //必须地成功加载此html页面之后写入到#can之后运行
                                        });
                                    }
                                    //实例化Ueditor编辑器
                                    var um = UM.getEditor('myEditor');
                                </script>
</body>
</html>