<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">

    <description>Spring公共配置</description>

    <!-- SpringContext Holder -->
    <bean id="springContextHolder" class="com.chenshun.utils.spring.SpringContextHolder" lazy-init="false"/>

    <!-- 线程池 -->
    <bean id="taskExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
        <!-- 核心线程数 -->
        <property name="corePoolSize" value="5"/>
        <!-- 最大线程数 -->
        <property name="maxPoolSize" value="20"/>
        <!-- 最大队列数 -->
        <property name="queueCapacity" value="50"/>
        <!-- 线程池维护线程所允许的空闲时间 -->
        <property name="keepAliveSeconds" value="60"/>
    </bean>

    <!-- ftpUtil对象 -->
    <bean id="ftpUtil" class="com.chenshun.utils.web.ftp.FtpUtil">
        <property name="userName" value="${pom.ftp.username}"/>
        <property name="password" value="${pom.ftp.password}"/>
        <property name="ip" value="${pom.ftp.ip}"/>
        <property name="port" value="${pom.ftp.port}"/>
        <property name="uploadUrl" value="${pom.ftp.uploadUrl}"/>
    </bean>

    <!-- customer service START -->
    <bean id="fileLoadService" class="com.chenshun.component.service.FileLoadService">
        <property name="ftpUtil" ref="ftpUtil"/>
    </bean>
    <bean id="fileUploadService" class="com.chenshun.component.service.FileUploadService">
        <property name="ftpUtil" ref="ftpUtil"/>
    </bean>
    <bean id="taskExecutorService" class="com.chenshun.component.service.TaskExecutorService">
        <property name="taskExecutor" ref="taskExecutor"/>
    </bean>
    <!-- customer service END -->

    <!-- http client -->
    <bean id="simpleHttpClient" class="com.chenshun.utils.web.SimpleHttpClient"/>

    <!-- 邮件发送 START -->
    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="smtp.163.com"/> <!-- 163邮箱 -->
        <property name="defaultEncoding" value="UTF-8"></property>
        <property name="username" value="chenshun502"/> <!-- 填写自己的邮箱和密码 -->
        <property name="password" value="xxx"/>
        <property name="javaMailProperties">
            <props>
                <prop key="mail.smtp.auth">true</prop>
                <prop key="mail.smtp.timeout">25000</prop>
            </props>
        </property>
    </bean>

    <!--<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">-->
        <!--<property name="host" value="smtp.gmail.com" /> &lt;!&ndash; 由于墙原因，无法使用 Gmail 发送邮件 &ndash;&gt;-->
        <!--<property name="username" value="chenshun131@gmail.com" />-->
        <!--<property name="password" value="xxx" />-->
        <!--<property name="defaultEncoding" value="UTF-8"></property>-->
        <!--<property name="javaMailProperties">-->
            <!--<props>-->
                <!--<prop key="mail.smtp.auth">true</prop>-->
                <!--<prop key="mail.smtp.timeout">${mail.smtp.timeout}</prop>-->
                <!--<prop key="mail.smtp.port">465</prop>-->
                <!--<prop key="mail.smtp.socketFactory.port">25000</prop>-->
                <!--<prop key="mail.smtp.socketFactory.fallback">false</prop>-->
                <!--<prop key="mail.smtp.socketFactory.class">javax.net.ssl.SSLSocketFactory</prop>-->
            <!--</props>-->
        <!--</property>-->
    <!--</bean>-->

    <bean id="freeMarkerConfigurer" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
        <property name="templateLoaderPath" value="classpath:mailTemplate/"/> <!-- 模版路径 -->
        <property name="freemarkerSettings">
            <props>
                <prop key="template_update_delay">1800</prop>
                <prop key="default_encoding">UTF-8</prop>
                <prop key="locale">zh_CN</prop>
                <prop key="number_format">0.##########</prop>
                <prop key="datetime_format">yyyy-MM-dd HH:mm:ss</prop>
                <prop key="classic_compatible">true</prop>
                <prop key="template_exception_handler">ignore</prop>
            </props>
        </property>
    </bean>
    <!-- 邮件发送 END -->

</beans>
